
  
  .main-reg-form-container {
    /* background-color: rgba(189, 17, 0); */
    /* background: blue; */
    width: 100vw;
    height: 100vh;
    z-index: 999;
  }
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
  }
  h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: lighter;
  }
  p {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: gray;
  }
  label {
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
    font-weight: bold;
  }
  .form-container {
    background-color: white;
    border: 1px solid #e3d7d7;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    /* display: flex; */
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .reg-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .form-input {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
  }
  
  .action-btn {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  
  .user-input {
    border: 1px solid gray;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }
  .action-btn .user-input {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: medium;
  }
  